.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.detail {}

.related-articles-wrapper {}

.related-articles {}

.comments {}

@media (min-width: 1200px) {
    .container {
        grid-template-columns: 1fr 25rem;
    }

    .detail {}

    .related-articles-wrapper {}

    .related-articles {
        position: sticky;
        top: .5rem;
        padding-top: .5rem;
        padding-left: 1rem;
        border-left: 1px solid #CCC;
        height: auto;
        display: inline-block;
    }

    .comments {}
}