@import 'assets/styles/_variables.scss';

.container {
    display: grid;
    grid-template-areas:
        "detail"
        "comments"
        "related-articles";
    gap: 1rem;
}

.detail {
    grid-area: detail;
}

.related-articles-wrapper {
    grid-area: related-articles;
}

.comments {
    grid-area: comments;
}

@media (min-width: $br-lg) {
    .container {
        grid-template-columns: 1fr 25rem;
        grid-template-areas:
            "detail related-articles"
            "comments related-articles";
    }

    .related-articles {
        position: sticky;
        top: .5rem;
        padding-top: .5rem;
        padding-left: .5rem;
        border-left: 1px solid #CCC;
        height: auto;
    }
}