.spinner-wrapper {
    composes: spinner-wrapper from "pages/admin/create-article/index.module.scss";
}

.error-wrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

.error-buttons {
    display: flex;
    gap: .5rem;
    align-items: center;
}