@import 'assets/styles/_variables.scss';

$shadow-color: #D0D7DE;

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.editor :global(.w-md-editor-toolbar) ul:last-child {
    display: none;
}

.editor,
.preview {
    width: 100%;
}

.preview {
    box-shadow: 0 0 0 1px $shadow-color, 0 0 0 $shadow-color, 0 1px 1px $shadow-color;
    border-radius: 3px;
    padding: .625rem;
}

@media (min-width: $br-sm) {
    .wrapper {
        flex-direction: row;
        gap: 1rem;
    }

    .preview,
    .editor {
        width: calc(50% - .5rem);
    }
}