@import 'assets/styles/_variables.scss';

.message {
    margin: 0;
    padding: 0;

    &.-info {
        color: $color-darker;
    }

    &.-success {
        color: $color-success;
    }

    &.-error {
        color: $color-danger;
    }
}