@import 'assets/styles/_variables.scss';

.navbar {
    width: 100%;
    background-color: #F8F9FA;
}

.content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-link {
    color: blue;

    &.-active {
        color: red;
    }
}

.menu-links-wrapper {
    display: flex;
    flex-grow: 1;
}

.right-links-wrapper {
    display: flex;
}

.right-links {
    display: none;

    @media (min-width: $br-md) {
        display: block;
    }
}

.login-link {
    display: flex;
    align-items: center;
    color: #2B7EFB;
    text-decoration: none;
}

.dropdown-links {
    @media (min-width: $br-md) {
        display: none;
    }
}