@import 'assets/styles/_variables.scss';

.input {
    padding: .5rem;
    font-size: 1rem;
    border: 1.5px solid $color-lighter;
    border-radius: .25rem;

    &.-success {
        border-color: $color-success;
    }

    &.-error {
        border-color: $color-danger;
    }

    @media (min-width: $br-md) {
        min-height: 2.5rem;
    }
}