@import 'assets/styles/_variables.scss';

.wrapper {
    display: flex;
    list-style: none;
    gap: .25rem;
}

.item {
    color: $color-darker;
    background-color: $color-white;
    min-width: 2.5rem;
    height: 2.5rem;
    border: 1px solid $color-secondary;
    text-align: center;
    line-height: 2.5rem;
    cursor: pointer;

    &:hover {
        background-color: $color-light;
    }

    &:active {
        outline: 1px solid $color-darker;
    }

    &.-active {
        color: $color-dark;
        background-color: $color-light;
    }

    &.-disabled {
        display: none;
    }
}

.link {
    display: block;
    width: 100%;
    height: 100%;
}

.sr-only {
    display: none;
}