/* Colors */
$color-primary: #007BFF;
$color-primary-lighter: #1C8AFF;
$color-primary-darker: #0065D1;
$color-secondary: #6C757D;
$color-secondary-lighter: #76818b;
$color-secondary-darker: #51575d;
$color-success: #28A745;
$color-success-lighter: #2BB34B;
$color-success-darker: #24953E;
$color-danger: #DC3545;
$color-danger-lighter: #E94757;
$color-danger-darker: #C52b3A;
$color-dark: #000000;
$color-darker: #555555;
$color-light: #F8F9FA;
$color-lighter: #DFDFDF;
$color-white: #FFFFFF;

/* Breakpoints */
$br-sm: 576px;
$br-md: 768px;
$br-lg: 1024px;
$br-xl: 1280px;
$br-2xl: 1440px;