@font-face {
    font-family: 'Poppins';
    src: url('./../fonts/Poppins-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./../fonts/Poppins-SemiBold.ttf');
    font-weight: bold;
}

html,
input,
textarea,
select,
button,
a,
div,
p,
span,
ul,
li {
    font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style-position: inside;

    ul,
    ol {
        margin-left: 1rem;
    }
}

.spinner {
    transform-origin: center;
    animation: spinner .75s infinite linear
}

@keyframes spinner {
    100% {
        transform: rotate(360deg)
    }
}