@font-face {
    font-family: 'Poppins';
    src: url('./../fonts/Poppins-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./../fonts/Poppins-SemiBold.ttf');
    font-weight: bold;
}

html,
input,
textarea,
select,
button,
a,
div,
p,
span,
ul,
li {
    font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style-position: inside;

    ul,
    ol {
        margin-left: 1rem;
    }
}

$displays: (
    "block",
    "flex",
    "none"
);
$textAlignments: (
    "left",
    "right",
    "center"
);
$spaceAmounts: (
    1,
    2,
    3,
    4,
    5,
    auto
);
$contentAlignments: (
    'flex-start',
    'center',
    'flex-end',
    'space-between',
    'space-aroung',
    'space-evenly'
);
$itemsAlignments: (
    'flex-start',
    'flex-end',
    'center',
    'stretch'
);

@each $disp in $displays {
    .d-#{$disp} {
        display: #{$disp};
    }
}

@each $textAlign in $textAlignments {
    .text-#{$textAlign} {
        text-align: #{$textAlign};
    }
}

@each $space in $spaceAmounts {
    @if $space==auto {
        .m-#{$space} {
            margin: #{$space};
        }

        .mx-#{$space} {
            margin-left: #{$space};
            margin-right: #{$space};
        }

        .my-#{$space} {
            margin-top: #{$space};
            margin-bottom: #{$space};

        }

        .ml-#{$space} {
            margin-left: #{$space};
        }

        .mr-#{$space} {
            margin-right: #{$space};
        }

        .mb-#{$space} {
            margin-bottom: #{$space};
        }

        .mt-#{$space} {
            margin-top: #{$space};
        }
    }

    @else {
        $spaceValue: ($space * 0.5);

        .m-#{$space} {
            margin: #{$spaceValue}rem;
        }

        .mx-#{$space} {
            margin-left: #{$spaceValue}rem;
            margin-right: #{$spaceValue}rem;
        }

        .my-#{$space} {
            margin-top: #{$spaceValue}rem;
            margin-bottom: #{$spaceValue}rem;

        }

        .ml-#{$space} {
            margin-left: #{$spaceValue}rem;
        }

        .mr-#{$space} {
            margin-right: #{$spaceValue}rem;
        }

        .mb-#{$space} {
            margin-bottom: #{$spaceValue}rem;
        }

        .mt-#{$space} {
            margin-top: #{$spaceValue}rem;
        }

        .p-#{$space} {
            padding: #{$spaceValue}rem;
        }

        .px-#{$space} {
            padding-left: #{$spaceValue}rem;
            padding-right: #{$spaceValue}rem;
        }

        .py-#{$space} {
            padding-top: #{$spaceValue}rem;
            padding-bottom: #{$spaceValue}rem;

        }

        .pl-#{$space} {
            padding-left: #{$spaceValue}rem;
        }

        .pr-#{$space} {
            padding-right: #{$spaceValue}rem;
        }

        .pb-#{$space} {
            padding-bottom: #{$spaceValue}rem;
        }

        .pt-#{$space} {
            padding-top: #{$spaceValue}rem;
        }

        .gap-#{$space} {
            gap: #{$spaceValue}rem;
        }

        .gap-x-#{$space} {
            column-gap: #{$spaceValue}rem;
        }

        .gap-y-#{$space} {
            row-gap: #{$spaceValue}rem;
        }
    }
}

@each $alignment in $contentAlignments {
    .justify-#{$alignment} {
        justify-content: #{$alignment};
    }

    .align-content-#{$alignment} {
        align-content: #{$alignment};
    }
}

@each $alignment in $itemsAlignments {
    .justify-items-#{$alignment} {
        justify-content: #{$alignment};
    }

    .align-items-#{$alignment} {
        align-items: #{$alignment};
    }
}

.flex-col {
    flex-direction: column;
}

.flow-row {
    flex-direction: row;
}

.flex-grow {
    flex-grow: 1;
}

.flex-shrink {
    flex-shrink: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}